.page .employeeDetails {
    font-family: "Calibri Light";
    height: auto;
    width: 500px;
    background-color: rgb(24, 30, 54);
    border: 1px solid white;
    box-shadow: 303px, 418px black;
    margin-left: 20px;
}
.page .employeeDetails h1 {
    text-align: center;
}
.page .employeeDetails h4 {
    font-size: larger;
    margin: 5px;
    margin-left: 30px;
    
}
.page .employeeDetails #title {
    font-weight: bold;
}
.page .employeeDetails #details {
    font-weight: normal;
    margin-bottom: 40px;
}
.page {
    display: flex;
}
body{
    background-color: rgb(46, 51, 73);
    color: white;
}

.page button {
    background-color: rgb(34, 44, 84);
    font: bold 15px Arial;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    margin-left: 30px;
    margin-top: 5px;
    width: 87%;
}

button:hover {
    opacity: 0.6;
}

.page .logout {
    background-color: gray;
    margin-bottom: 25px;
}
#password{
    margin-left: 30px;
    background-color: rgb(24, 30, 54);
    border: 1px solid white;
    font-family: "Calibri Light";
    font-weight: bold;
    font-size: larger;
    width: 80%;
}

.shifts .select {
    width: 500px;
    height: 100%;
    background-color:  rgb(24, 30, 54);
    border: 1px solid white;
    box-shadow: 303px, 418px black;
    margin-left: 20px;
    padding-top: 10px;
}
.shifts .select option {
    font-family: Arial;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    color: white;
}
.shifts .select option.shiftInfo {
    font-weight: normal;
}